/*///////////////////////////////////////////////////////////////////////////*/
/* image_selector.css                                                        */

.image_selector_container {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
	height: 50vh;
	justify-content: left;
	margin: 50px 50px 50px 50px;
}

.image_selector_container .image_128_container {
	align-items: center;
	border: 2px solid var(--form-text-disabled-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 128px;
	overflow: hidden;
	width: 128px;
}

.image_selector_container .image_128_container:hover {
	border: 2px solid var(--form-highlight-color);
}

.image_selector_name_container {
	width: 128px;
}
.image_selector_name_container a {
	font-size: 11pt !important;
	line-height: 1 !important;
}
