/*///////////////////////////////////////////////////////////////////////////*/
/* single_image_input.css                                                    */

.single_image_input__container {
	align-content: flex-start;
	align-items: flex-start;
	background-color: var(--form-input-background-color);
	border: 1px solid gray;
	border-radius: 0px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	min-height: 256px;
	justify-content: flex-start;
	outline: 0px solid transparent;
	overflow: hidden;
	padding: 1em;
	min-width: 256px;
}

.single_image_input_close {
	background-color: tomato;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
	color: white;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.0em;
	top: 1px;
	padding: 1.5px 7px;
	position: absolute;
	right: 2px;
	transition: all 0.5s ease;
}

.single_image_input_close:hover {
	color: var(--color-primary-light);
}